.Error
{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
.basecontent{
    width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;

}
.Student
{
    float: left;
  width: 64%;
}
.cats
{
    float: right;
    width: 35%;
}