#item-list-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-self: start;
  }


.status{
    font-size: xx-large;
  font-weight: bolder;
  color: darkgreen;
  margin-top: 3px;
}
.add-item{
    margin-top: 50px;
}